<div class="block">
  <div style="border: 1px solid #666666;">
    <%= render :file => 'shared/parts' %>
  </div>
  <div style="border: 1px solid #666666;">
    <%= render :file => 'shared/development_log' %>
  </div>
  <div style="border: 1px solid #666666;">
    <%= render :file => 'shared/tracking_log' %>
  </div>
  <div style="border: 1px solid #666666;">
    <%= render :file => 'shared/ad' %>
  </div>
</div>