<div id="contents">
  <div id="left_container">
    <div id="left_container_detail_in">
      <div class="bar">
        <h2><%= h @header_title %></h2>
      </div>
      <div id="detail_container">
        <div class="large_image_container">
          <%= item_image_large %>
        </div>
      </div>
    </div>
  </div>
</div>