<p class="bar">
  <%= link("http://d-game.dengeki.com/kurukuru/", "応援してま～す。") %>
</p>
<div class="ad">
  <a href="http://d-game.dengeki.com/kurukuru/">
    <img src="http://d-game.dengeki.com/kurukuru/usr/banner/mini04.jpg" width="160" height="160" border="0" alt="どきどきワクワク生徒会ラブコメ ティンクル☆くるせいだーす GoGo！">
  </a>
</div>
<div class="ad">
  <a href="http://www.oreimo-anime.com/" target="_blank">
    <img src="http://www.oreimo-anime.com/bn/bn180180a.jpg" border="0" width="180" height="180" alt="俺の妹がこんなに可愛いわけがない" title="俺の妹がこんなに可愛いわけがない" />
  </a>
</div>