<p class="bar">
  <%= link("/", "ブログパーツ") %>
</p>
<div id="blogparts">
  <div style="margin:0 auto;">
    <script language="javascript" type="text/javascript" charset="UTF-8" src="http://i.tmarker.summer-lights.jp/blogparts/b7uvlsx0?func=item&width=232&count=3"></script>
  </div>
</div>