<div style=\"font-size:12px;padding:10px;\">
  <div style=\"float:left;padding-right:5px;\">
    <a href=\"%s\"><img style=\"border:1px solid #C9CFCF;\" width=\"50\" src=\"%s\"/></a>
  </div>
  <div style=\"font-size:12px;\">
    <a href=\"%s\">%s</a>
  </div>
  <div style=\"clear:left;\"></div>
</div>