<div style=\"background-color:#FFFFFF;width:%spx;font-family:Meiryo,'Lucida Grande',Verdana,Arial,sans-serif;font-size:10px;\">
  <div style=\"padding:3px;color:#FFFFFF;background:transparent url(http://tmarker.summer-lights.jp/images/menu_back.gif) repeat scroll 0 0;\">%s</div>
  <div style=\"border:2px solid #454E4E;\">%s</div>
  <div style=\"text-align:right;padding:1px 5px;background:transparent url(http://tmarker.summer-lights.jp/images/menu_back.gif) repeat scroll 0 0;\">
    <a href=\"http://tmarker.summer-lights.jp/\">
      <img style=\"padding:3px 0;vertical-align:middle;border:0px;\" src=\"http://tmarker.summer-lights.jp/images/logo_blogparts.png\"/>
    </a>
  </div>
</div>