From: %s
To: %s
Subject: 【tmarker】商品が登録完了しました
Date: %s
MIME-Version: 1.0
Content-type: text/plain;charset="iso-2022-jp"
X-Mailer: tmarker ruby mail module

==================================
tmarker 商品登録メール通知サービス
==================================

 以下の商品を登録しました。

 [品名]: %s
 [EANコード]:  %s

 登録した商品は以下のページで御覧いただけます(ログインが必要です)。

 [http://tmarker.summer-lights.jp/my/%s]

======================================
tmarker
URL: http://tmarker.summer-lights.jp
Mail: %s
======================================